main{
  background-image: linear-gradient(to bottom right,#060445, #1741b3);
  display: flow-root;
}

@font-face{
  font-family: home;
  src: url(../fonts/Homenaje-Regular.ttf);
}
@font-face{
  font-family: kerli-one;
  src: url(../fonts/LeckerliOne-Regular.ttf);
}


@font-face{
  font-family: Exo;
  src: url(../fonts/Exo/Exo-MediumItalic.ttf);
}
@font-face{
  font-family: logo;
  src: url(../fonts/Knewave-Regular.ttf);
}

.nav-menu{
    display: inline-flex;
    float: left;
    margin-top: 44px;
    padding-left: 192px;
} 
nav li{
  list-style-type: none;
  margin-left:29px;
}
nav .nav-menu a {
  color: #626085;
  margin-left: 60px;  
}
nav .nav-menu a:first-child{
  margin:0;
}

nav a:hover{
  color:  #00c3ed; 
  text-decoration: none;
}

.logo{
  position: absolute;
  display: inline-flex;
  left: 584px;
  top: 40px;
}

.logo h1{
  font-family: logo;
  color: #00c3ed;
  font-size: 50px;
  margin-top: 0;
}

.logo h1:hover{
  color: #f7cb41;
}

.logo h3{
  color: #fff;
  font-size: 27px;
  font-family: 'Exo';
  margin-left: 8px;
} 

nav .nav-menu a:last-child{
  margin-left: 150px;
}

.containerr {
    position: absolute;
    left: 528px;
    top: 63px;
    transform: translate(-50%, -50%);
}

.bowl {
   height: 90px;
   width: 90px;
   border-radius: 50%;
   border: 2px solid white;
   position: relative;
   animation: move 8s infinite;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(-20deg);
  }
  67% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.bowl:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 26px;
  border-radius: 50%;
  background: black;
  border: 2px solid white;
  left: 50%;
  top: -4px;
  transform: translatex(-50%);
  z-index: 100;
}

.water {
    height: 95px;
    width: 86px;
    background: linear-gradient(to bottom, black 0% 50%, #2389da 50% 100%);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 2px;
    animation: move1 8s infinite;
    z-index: -100;
}

@keyframes move1 {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(20deg);
  }
  67% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

.water:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background: #0f5e9c;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
}

.body {
  width: 45px;
  height: 20px;
  background: orange;
  border-radius: 40% 50% 50% 40%;
  bottom: 12px;
  right: 25px;
  position: absolute;
}

.fin {
    width: 19px;
    height: 20px;
    position: absolute;
    background: #EF8A1F;
}

.fin.top {
	z-index: -100;
    transform: rotate(-20deg);
    left: 11px;
    bottom: 6px;
    border-radius: 50% 50% 0% 0%;
}

.fin.bottom {
	z-index: -100;
    transform: rotate(20deg);
    left: 11px;
    bottom: -6px;
    border-radius: 50% 0% 50% 50%;
}

.fin-center {
    height: 8px;
    width: 11px;
    background: #EF8A1F;
    border-radius: 50% 0 0 50%;
    position: absolute;
    left: 21px;
    top: 7px;
}

.eye {
    height: 8px;
    width: 9px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 5px
}

.eye:before {
 	content: "";
    background: black;
    height: 5px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
}

.eye:after {
    content: "";
    background: white;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 3px;
}

.tail {
	width: 29px;
    height: 66px;
    position: absolute;
    right: -17px;
    bottom: -49px;
    z-index: -200;
}

.tail::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 12px;
    border-radius: 50%;
    background: #EF8A1F;
    transform: rotate(-30deg);
    top: -6px;
}

.tail::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 12px;
    border-radius: 50%;
    background: #EF8A1F;
    transform: rotate(30deg);
    top: 6px;
}

footer{
  background-image: linear-gradient(to bottom right,#06175c, #1d1da8);
}

footer h1:hover{
  color: #f7cb41;
}
.footer-top {
  position: relative;
    min-height: 103px;
    border-bottom: 2px dotted #00c3ed;
}
.newsletter{
  margin: 20px 0;
}

footer input{
    padding: 7px;
    font-size: 18px;
    border: none;
    margin-left: 40px;
}
 
footer button{
  padding: 7px 18px;
    font-size: 18px;
    background-color: #f7cb41;
    border: none;
    font-family: -webkit-pictograph;
    color: #000;
    float: right;
    margin-right: 40px;
    font-weight: 600;
} 

footer button:hover{
  background-color:#00c3ed;
  color: white;
}

.email{
  margin: 50px 0px 0 0;
}

footer h3{
  color: #fff;
  font-family: Exo;
  text-align: center;
  margin-bottom: 19px;

}

.footer-icon{
  color: #00c3ed;
  font-size: 34px;

}

.icon-div-1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-div{
  margin-bottom: 20px;
}

footer h4{
  color: #fff;
  font-family: Exo;
  text-align: center;
}

footer span{
  color: #fff;
  font-size: 15px;
    margin-left: 12px;

}

.f-img-l{
    margin-left: 60px;
    margin-bottom: 14px;
}

.f-img-r{
  float: right;
  margin-right: 60px;
}

.f-container{
  position: absolute;
  left: 588px;
  top: 52px;
  transform: translate(-50%, -50%);
}

.l-h3{
  margin-top:22px;
}

.l-h1{
  margin-top: -10px;
  margin-left: 50px;
}

.privacy{
  background-color: rgba(17, 17, 17, 0.8);
  text-align: center;
  color: #fff;
}

.privacy a{
  text-decoration: none;
  color: #fff;
  font-family: home;
}

.privacy a:hover{
  color: #337ab7;
  text-decoration: underline;
}

.span-f-h{
  font-size: 18px;
    margin-left: 4px;
}