body{
  padding: 0;
  margin: 0;
}

nav{
  background-image: url(../../images/wave8.png);
    justify-content: center;
    margin: 0px auto;
    padding: 14px 0;
    font-size: 22px;
    font-family: home;
    margin-top: 120px;
}

nav .nav-menu a:nth-child(4){
  color:  #00c3ed;  
}